@tailwind base;
@tailwind components;
@tailwind utilities;

/* Center the entire calculator container */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Global font styling */
:root {
  font-family: omnes-pro, sans-serif;
  font-weight: 500;
}

/* General input styling */
input {
  width: 100%; 
  border-color: #D1D5DB;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  border-radius: 0.75rem;
  border: rgba(32, 33, 37, 0.12) 2px solid;
  color: #202125;
  background: transparent;
  font-size: 1rem; 
  box-sizing: border-box;
}

/* Input container styling */
.input-with-placeholder {
  display: grid;
  gap: 0.5rem;
}

/* Consistent button styling */
button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Body styling for centering */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 80vh;
}

/* Heading styles */
h1 {
  font-size: 4.5em;
  line-height: 1.3;
  margin-bottom: 1rem; /* Added spacing below the header */
}

label {
  font-size: 1.2em;
  font-weight: 500;
}

/* Error message styling */
.text-red-500 {
  color: #e3342f;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  text-align: left;
}
